.footer__container {
  max-width: none;
}

.footer {
  background: #00003d;
  padding: 42px 0;

  @include breakpoint(1646px) {
    padding: 30px 0;
  }

  @include breakpoint(590px) {
    padding: 33px 0 47px 0;
  }

  .footer__row {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    @include breakpoint(884px) {
      flex-direction: column;
      align-items: center;
      gap: 47px;
    }
  }

  .footer__item__one {
    display: flex;
    align-items: center;
    gap: 28px;

    @include breakpoint(1213px) {
      gap: 15px;
    }

    .item__bid,
    .item__deposit {
      display: flex;
      align-items: center;
      gap: 15px;

      @include breakpoint(1016px) {
        align-items: flex-start;
      }

      @include breakpoint(884px) {
        flex-direction: column;

        gap: 12px;
      }
    }

    .item__plus {
      font-family: sans-serif;
      font-size: 35px;
      line-height: 19px;
      padding: 10px;
      border: 2px solid white;
      border-radius: 50%;

      @include breakpoint(1306px) {
        font-size: 17px;
        line-height: 10px;
      }

      @include breakpoint(1213px) {
        font-size: 12px;
        line-height: 6px;
      }
    }

    .item__number {
      font-weight: 500;
      font-size: 76px;
      line-height: 60px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #ededed;

      @include breakpoint(1646px) {
        font-weight: 500;
        font-size: 46px;
        line-height: 76px;
        letter-spacing: 0.03em;
      }

      @include breakpoint(1457px) {
        font-weight: 500;
        font-size: 36px;
        line-height: 66px;
        letter-spacing: 0.03em;
      }

      @include breakpoint(1306px) {
        font-weight: 500;
        font-size: 28px;
        line-height: 66px;
        letter-spacing: 0.03em;
      }

      @include breakpoint(1016px) {
        font-size: 26px;
        line-height: 30px;
        letter-spacing: 0.03em;
      }
    }

    .item__text {
      font-size: 21px;
      line-height: 28px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      max-width: 138px;

      @include breakpoint(1646px) {
        font-size: 20px;
        line-height: 18px;
        letter-spacing: 0.02em;
      }

      @include breakpoint(1306px) {
        font-size: 15px;
        line-height: 17px;
      }

      @include breakpoint(1016px) {
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.02em;
      }
    }
  }

  .footer__item__two {
    display: flex;
    align-items: center;
    gap: 28px;

    @include breakpoint(1306px) {
      gap: 10px;
    }

    .visa__icon {
      padding: 1.2px;
      border: 1px solid white;
    }
  }

  .footer__item_three {
    display: flex;
    align-items: center;
    gap: 15px;

    @include breakpoint(884px) {
      gap: 15px;
    }

    a {
      display: inline-block;
    }
  }

  .footer__link__apple {
    img {
      max-width: 168px;

      @include breakpoint(1457px) {
        max-width: 130px;
      }
    }
  }

  .footer__link__google {
    img {
      max-width: 188px;

      @include breakpoint(1457px) {
        max-width: 144px;
      }
    }
  }
}
