.header {
  padding: 88px 0 0 0;

  @include breakpoint(590px) {
    padding: 17px 0 0 0;
  }
}

.header__logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;

  @include breakpoint(1144px) {
    left: auto;
    right: 0;
    align-items: flex-end;
  }

  @include breakpoint(590px) {
    top: 10px;
    right: 10px;
  }

  .header__lopo__part1 {
    display: inline-block;
    padding: 23.5px;
    background: #ff267e;

    @include breakpoint(1144px) {
      padding: 15px;
    }

    @include breakpoint(590px) {
      padding: 8px;
    }

    svg {
      @include breakpoint(1144px) {
        width: 234px;
      }

      @include breakpoint(590px) {
        width: 150px;
        height: 18px;
      }
    }
  }

  .header__logo__part2 {
    display: inline-block;
    padding: 8px 11px;
    background: #ff267e;

    @include breakpoint(1144px) {
      padding: 0px 11px;
    }

    @include breakpoint(590px) {
      padding: 0;
      position: relative;
      bottom: 12px;
      z-index: -1;
    }

    svg {
      @include breakpoint(1144px) {
        width: 47px;
      }

      @include breakpoint(590px) {
        width: 41px;
        height: 52px;
        padding: 0;
      }
    }
  }
}

.images__back {
  img {
    position: absolute;
  }

  .box1 {
    top: 0;
    z-index: -5;
    left: 50%;
    transform: translateX(-50%);
  }

  .box2 {
    right: 0;
    z-index: -5;
  }

  .box3 {
    bottom: 0;
    z-index: -5;
    left: 70%;
    transform: translateX(-70%);
  }
}
