.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  padding: 0 15px;
  top: 0;
  left: 0;
  background: rgba(67, 70, 109, 0.95);
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: 0.8s ease;

  &._open {
    opacity: 1;
    visibility: visible;
  }
}

.popup__info {
  padding: 70px;
  background: #ffffff;
  max-width: 491px;
  position: relative;
  transform: translate(0, -100%);
  opacity: 0;
  transition: 0.8s ease;

  &._open {
    transform: translate(0, 0);
    opacity: 1;
  }

  @include breakpoint(441px) {
    padding: 35px;
  }
}

.popupclose {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 10px;
    width: 20px;
    height: 1px;
    background: black;
  }

  &::after {
    transform: rotate(45deg);
  }

  &::before {
    transform: rotate(-45deg);
  }
}

.popup__title {
  text-align: center;
  color: black;
  margin: 0 0 25px 0;
}

.popup__image {
  @extend %flex-center;
  img {
    max-width: 100%;
  }
}
