<footer class="footer">
  <div class="footer__container">
    <div class="footer__row">
      <div class="footer__item footer__item__one">
        <div class="item__bid">
          <p class="item__number">500₴</p>
          <p class="item__text">ставка без ризику</p>
        </div>
        <div class="item__plus">+</div>
        <div class="item__deposit">
          <p class="item__number">4000₴</p>
          <p class="item__text">На перший депозит</p>
        </div>
      </div>
      <div class="footer__item footer__item__two">
        <svg width="40" height="26">
          <use href="assets/images/footer/21.svg#21"></use>
        </svg>
        <svg width="60" height="28">
          <use href="assets/images/footer/applePay.svg#applePay"></use>
        </svg>
        <svg width="57" height="22">
          <use href="assets/images/footer/googlePay.svg#googlePay"></use>
        </svg>
        <svg width="36" height="22" class="visa__icon">
          <use href="assets/images/footer/visa.svg#visa"></use>
        </svg>
        <svg width="38" height="22">
          <use href="assets/images/footer/masterCard.svg#masterCard"></use>
        </svg>
      </div>
      <div class="footer__item footer__item_three">
        <a href="#" class="footer__link__apple">
          <img
            src="assets/images/footer/appleDown.png"
            srcset="
              assets/images/footer/appleDown@2x.png 2x,
              assets/images/footer/appleDown@3x.png 3x
            "
            alt="appleDownload"
          />
        </a>
        <a href="#" class="footer__link__google">
          <img
            src="assets/images/footer/googleDown.png"
            srcset="
              assets/images/footer/googleDown@2x.png 2x,
              assets/images/footer/googleDown@3x.png 3x
            "
            alt="googleDownload"
          />
        </a>
      </div>
    </div>
    <div class="popup">
      <div class="popup__info">
        <p class="popup__title">Тут котик</p>
        <div class="popup__image">
          <img src="assets/images/popUp/cat.gif" alt="cat" />
        </div>
        <div class="popupclose"></div>
      </div>
    </div>
  </div>
</footer>
